# Next.js build output
.next/
tmp/
out/

# dependencies
node_modules/

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# databases
*.db
*.db-shm
*.db-wal

# misc
.DS_Store
*.log
npm-debug.log*
*.swp
